.blue {
    color: #007acc;
}

.blue-bold {
    color: #007acc;
    font-weight: bold;
}

.blue-italic {
    color: #007acc;
    font-style: italic;
}

.blue-bold-italic {
    color: #007acc;
    font-weight: bold;
    font-style: italic;
}

.medium-text {
    font-size: 24px;
  }
